
body{
    text-align: center;
    background: Radial-gradient(#78F9E1, #cef7ef);  
}
h1 {
    background-color: #FF5A60;
    color: #78F9E1;
    font-family: 'Cairo';
    font-size: 45pt;
    font-weight: black;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 0px;
    border-radius: 10px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
}
.board td {
    width: 32px;
    height: 32px;
    text-align: center;
    transition: 0.5s;
    margin-top: 200px;
    background-color:#7A5AE4;
    border: #a390e0;
    border-radius: 10px;
    border-style:outset;
    border-width: 7px;
    font-family: 'Cairo';

}
img {
    height: 30px;
}
.board td:hover{
    background-color: #baaee4;
    cursor:pointer;
}

button.manually{
    background-color:#e4686c;
    height: 50px;
    width: 150px;
    font-weight: bolder;
    border-radius: 15px;
    font-size: 15pt; 
    color: #78F9E1;
    display: inline-block;
    cursor: pointer;
}

button.safe{
    background-color:#e4686c;
    height: 50px;
    width: 150px;
    font-weight: bolder;
    border-radius: 15px;
    font-size: 15pt; 
    color: #78F9E1;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
}

button.safe:active {
    background-color: #e9a5a7;
    box-shadow: 0 5px #e68b8e;
    transform: translateY(15px);
}

button.manually:active {
    background-color: #e9a5a7;
    box-shadow: 0 5px #e68b8e;
    transform: translateY(15px);
}

button.safe:hover {
    background-color: #e9a5a7;
    box-shadow: 0 5px #e68b8e;
    transform: translateY(6px);
    transition: 1s;
}

button.manually:hover {
    background-color: #e9a5a7;
    box-shadow: 0 5px #e68b8e;
    transform: translateY(6px);
    transition: 1s;
}
.choose-level img{
    height: 70px;
    margin-bottom: -50px;
    border-radius: 60px;
}

.game-time {
    color: #7A5AE4;
    height: 55px;
    width: 70px;
    margin-top: 20px;
    color: black;
    text-align: center;
    font-family: 'Cairo';
    font-size: 4mm;
    margin-left: 450px;
}
.timer{
    font-family: 'Cairo';
    font-weight: black;
    font-size: 17pt;
    display: inline;
    margin-top: -70px;
    margin-left: 180px;
    color:#FF5A60;
    position:absolute;
}

h2 span{
    font-family:'Cairo';
    display: inline-block;
    padding-bottom: -70px;
    margin-top: 10px;
}
h2 {
   margin-top: -35px;
   margin-bottom: 20px;

}
.emoji{
    height: 55px;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
}
.modal{
    text-align: justify;
    color: #FF5A60;
    text-shadow: 2px 2px 5px #aa2f33;
    transition: width 2s, height 4s;
    position:absolute;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    font-size: 25pt;
    font-family: 'Cairo';
    font-weight:bolder;
    font-style: italic;
    text-align: center;
    margin-left: 775px;
    margin-top: -55px;
    transform: 2s;
    display:inline-block;
}
.modal:hover{
    transform:rotate(360deg);
}

.bomb {
    display:inline-block;
    height: 30px;
}
button.levels1{
    font-family: 'Cairo';
    font-size: 13pt;
    font-weight: black;
    text-align: center;
    color: #7A5AE4;
    margin-top: 20px;
    width: 120px;
    height: 20px;
    background-color:  #78F9E1;
    border-radius: 15px;
    border-width: medium;
    border-color:#7A5AE4;
    cursor: pointer;
    padding-bottom: 30px;
}

button.levels1:hover {
    background-color: #90fae6;
    box-shadow: 0 5px #a390e0;
    transform: translateY(3px);
    transition: 1s;
}
button.levels1:active {
    background-color: #90fae6;
    box-shadow: 0 5px #a390e0;
    transform: translateY(10px);
}

.levels {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}
.center img{
    height: 20px;
    margin-top: 8px;
    margin-left: 3px;
}

span:nth-child(6){
    cursor: pointer;
}
.heart span:nth-child(1){
   margin-left: 30px;
}
span:nth-child(5){
    margin-right: 5px;
 }
.score-board td {
    width: 25px;
    height: 25px;
    text-align: left;
    transition: 0.5s;
    margin-top: 200px;
    padding-left: 15px;
    padding-top: 5px;
    font-weight: black;
    font-size: 15pt;
    border-radius: 10px;
    font-family: 'Cairo';
}
.score-board th{
    width: 60px;
    height: 5px;
    text-align: center;
    transition: 0.5s;
    border-bottom: #c2aaaa;
    border-radius: 10px;
    border-bottom-style:inset;
    border-width: 3px;
    font-family: 'Cairo'; 
    font-size: 15pt;
    font-weight: bold;
}

.score-div{
    text-align:center;
    border-width: 5px;
    width: 190px;
    height: 200px;
    display:inline-block;
    position:absolute;
    margin-left: 400px;
    margin-top: -20px;
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 25px;
    background: Radial-gradient(farthest-side at 85% 65%,#fdaaad6b,#ff5a606b);
}

  
